* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #f1f5f8;
}

#sliders {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#content {
  width: 500px;
  height: 300px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
